<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ClientSecret" value="your-client-secret"/>
    <add key="ClientId" value="your-client-id"/>
    <add key="ServiceBusAudience" value="https://servicebus.azure.net/.default" />
    <add key="ServiceBusNamespace" value="your-service-bus-namespace.servicebus.windows.net"/>
    <add key="SubscriptionName" value="your-subscription-name"/>
    <add key="TenantId" value="your-tenant-id"/>
    <add key="TopicName" value="your-topic-name"/>
  </appSettings>
</configuration>
