<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ServiceBusNamespace" value="your-service-bus-namespace.servicebus.windows.net" />
		<add key="QueueName" value="your-queue-name" />
		<add key="SharedAccessKey" value="your-access-key-value" />
		<add key="SharedAccessKeyName" value="your-access-key-name" />		
	</appSettings>
</configuration>